# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*

# VSCode
.vscode
.history

# Jetbrains suit
.idea

# Firebase
.firebase

# Code climate
cc-test-reporter

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
