.player-hand {
  position: absolute;
  top: 0;
  width: 100px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.player-hand .tile {
  margin-right: 8px;
}

.player-hand.player-1 {
  left: 0;
}

.player-hand.player-2 {
  right: 0;
}
